/* I got rid of the prof's sample resizing CSS that should go here. We
 * should look at this code and actually learn how it works, and add it
 * back in again later*/

/* Basic styles */
.rwd-example div {
	text-align:left;
	border-color:#ddd;
	margin-bottom:1em;
}

.rwd-example p {
	color:#777;
	line-height:140%
}

/* Stack all blocks to start */
.rwd-example .ui-block-a, 
.rwd-example .ui-block-b, 
.rwd-example .ui-block-c { 
	width: 100%; 
	float:none; 
}

/*Make all tags and links appear in small gray like Twitter does*/
.usertag {
	color:rgb(200,200,200);
	font-size:80%;
	text-decoration:none;
}

/*Make all tags and links appear in small gray like Twitter does*/
.mention, .hashtag, .tweetlink {
	color:#0084b4;
	text-decoration:none;
}

/* For formatting the date for each tweet*/
.date {
	color:rgb(200,200,200);
}

.li {
	padding-left: 60px;
}

.ui-li-desc {
    text-overflow: ellipsis;
    overflow: visible;
    white-space: normal;
}

/* 1st breakpoint - For small phones */ 
@media all and (max-width: 34em) {
	.breakpoint.ui-grid-b .ui-block-a,
	.breakpoint.ui-grid-b .ui-block-b,
	.breakpoint.ui-grid-b .ui-block-c{
		width: 100%; 
		float:none; 
	}

	.ui-block-c p {
		word-wrap: break-word;
	    overflow: visible;
	    white-space: normal;
	}
	/*Make the borders smaller than the default when on smaller screens*/
	.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
		display: block;
		padding: 0.1em 5px;
	}

    /* Top-align the avatars */
    td {
        vertical-align: top;
    }
}


/* 2nd breakpoint - Float all, 50/25/25 */ 
@media all {
	.breakpoint.ui-grid-b .ui-block-a { width: 60px; }
	.breakpoint.ui-grid-b .ui-block-b { width: 100px; }
	.breakpoint.ui-grid-b .ui-block-c { width: 400px; }
	.breakpoint.ui-grid-b .ui-block-a { clear: left; }
}
