/* I got rid of the prof's sample resizing CSS that should go here. We
 * should look at this code and actually learn how it works, and add it
 * back in again later*/

/* The person's name, to the left or top of the @ user tag. */
.name {
    font-size: 16px;
    font-weight: bold;
}

/* The names in the main list. */
.tweet .name {
    white-space: nowrap;
    padding-right: 5px;
}

/*Make all tags and links appear in small gray like Twitter does*/
.usertag {
	color:rgb(200,200,200);
	font-size: 14px;
	text-decoration:none;
}

/*Make all tags and links appear in small gray like Twitter does*/
.mention, .hashtag, .tweetlink {
	color:#0084b4;
	text-decoration:none;
}

/* For formatting the date for each tweet*/
.date {
	color:rgb(200,200,200);
}

.li {
	padding-left: 60px;
}

.ui-li-desc {
    text-overflow: ellipsis;
    overflow: visible;
    white-space: normal;
}

/* Top-align the avatars */
td {
    vertical-align: top;
}

/* Used to ensure divs containing floating divs are properly expanded. */
.clear-both {
    clear: both;
}

/* Universal styles for the detail popup */
.detail-text {
    word-wrap: break-word;
    white-space: normal;
    font-size: 12px;
    text-align: center;
}


/* 1st breakpoint - For larger devices */ 
@media all {
    /* Styles for the detail popup - float the user info and description side-by-side */
    .detail-user {
        float: left;
        max-width: 100px;
    }
    
    .detail-text {
        float: right;
        max-width: 400px;
    }
}

/* 2nd breakpoint - For small phones */ 
@media all and (max-width: 34em) {
	
	/*Make the borders smaller than the default when on smaller screens */
	.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
		display: block;
		padding-left: 5px;
	}
	
	/* Display the in-tweet name and the user tag on their own line on small screens */
	.tweet .name {
	    display: block;
	}
	
	.tweet .usertag {
	    padding-top: .1em;
	    display: block;
	}
	
    /* Styles for the detail dialog */
    .detail-user {
        max-width: inherit;
        float: none;
        clear: both;
    }
    
    .detail-text {
        max-width: inherit;
        float: none;
        clear: both;
    }
    
    .detail-user .avatar {
        float: left;
        padding-right: 10px;
    }
}
