/* I got rid of the prof's sample resizing CSS that should go here. We
 * should look at this code and actually learn how it works, and add it
 * back in again later*/

/* The person's name, to the left or top of the @ user tag. */
.name {
    font-size: 16px;
    font-weight: bold;
}

/* The names in the main list. */
.tweet .name {
    padding-right: 5px;
}

/*Make all tags and links appear in small gray like Twitter does*/
.usertag {
    color:rgb(200,200,200);
    font-size: 14px;
    text-decoration:none;
}

/*Make all tags and links appear in small gray like Twitter does*/
.mention, .hashtag, .tweetlink {
    color:#0084b4;
    text-decoration:none;
}

/* For formatting the date for each tweet*/
.date {
    color:rgb(200,200,200);
}

.li {
    padding-left: 60px;
}

/* Don't let text overflow in the tweets. */
.ui-li-desc {
    text-overflow: ellipsis;
    overflow: visible;
    white-space: normal;
}

/* Top-align the avatars */
td {
    vertical-align: top;
}

/* Used to ensure divs containing floating divs are properly expanded. */
.clear-both {
    clear: both;
}

/* Universal styles for the detail popup */
.detail-text {
    word-wrap: break-word;
    white-space: normal;
    font-size: 12px;
    text-align: center;
}

/* Format the notification about reaching the end of tweets. */
.end-notification p {
    text-align: center;
    font-size: 12px;
    color: #111111;
}

.jqm-footer p {
    margin-left: 25px;
    font-size: 11px;
    color: #111111;
}
/* Custom icon for showing photos. */
.ui-icon-camera {
    background-image: url("../res/camera.png")
}

/* For very small phones: 
    decrease padding and put usertag and twwet on separate lines*/ 
@media all and (max-width: 500px){
    
    /*Make the borders smaller than the default*/
    .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
        display: block;
        padding-left: 5px;
    }
    
    /* reduce padding at top and bottom*/
    .ui-content {
        border-width: 0;
        overflow-x: hidden;
        overflow-y: visible;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* Display the in-tweet name and the user tag on their own line on small screens */
    .tweet .name {
        display: block;
    }
    
    .tweet .usertag {
        padding-top: .1em;
        display: block;
    }
}  

/* info popups will apear on multiple lines for smaller screens */
@media all {
    /* Styles for the detail dialog */
    .detail-user {
        max-width: 75px;
        float: none;
        clear: both;
        text-align: center;
    }
    
    .detail-text {
        max-width: 375px;
        float: none;
        clear: both;
    }
    
    .detail-user .avatar {
        padding-top: 10px;
        padding-right: 10px;
        clear: both;
        text-align: center

    }
}

/* breakpoint at 600 px:
    For less small phones/tablets (600-768 px) , keep the single column layout, but switch to large-style popup*/
@media all and (min-width: 600px) {
    
    /* Styles for the detail popup - float the user info and description side-by-side */
    .detail-user {
        float: left;
        max-width: 100px;
    }
    
    .detail-text {
        float: right;
        max-width: 375px;
    }

    .detail-user .name {
        text-align: left
    }

    .detail-user .avatar {
        padding-top: 10px;
        padding-right: 10px;
        clear: both;
        text-align: left

    }

    /* From now on, when going between layouts, use an animation. */
    #index .ui-listview .ui-btn {
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
    }
}

/* breakpoint at 768 px:
    For smallish desktops (768-1320) and large tablets, go to a two column layout.
*/ 
@media all and (min-width: 768px) {
    
    /* Styles for the detail popup - give a bit more space for everything to fit. */
    .detail-user {
        float: left;
        max-width: 150px;
    }
    
    .detail-text {
        float: right;
        max-width: 450px;
    }

    /* Styles from tutorial code*/
    #index .ui-content {
        padding: 9px;
    }   
    
    #index .ui-listview .ui-li.ui-btn {
        float: left;
        width: 47%; /* 33.3333% incl. 2 x 1.2% margin */
        height: 115px;
        margin: 9px 1.2%;
        border-width: 0; /* The 1px border would break the layout so we set it on .ui-btn-inner instead. */
    }

    /* Inherit the border-radius from the top left list item. Ensures that all items have pretty rounded corners. */
    #index .ui-listview .ui-li,
    #index .ui-listview .ui-btn-text,
    #index .ui-listview .ui-link-inherit {
        -webkit-border-radius: inherit;
        border-radius: inherit;
    }

    /* Add shadow to listview items. */
    .my-page .ui-listview .ui-btn:not(.ui-focus) {
        -moz-box-shadow: 0px 0px 9px #111;
        -webkit-box-shadow: 0px 0px 9px #111;
        box-shadow: 0px 0px 9px #111;
    }

    /* Images mask the hover bg color so we give desktop users feedback by applying the focus style on hover as well. */
    .my-page .ui-listview .ui-btn:hover {
        -moz-box-shadow: 0px 0px 12px #387bbe;
        -webkit-box-shadow: 0px 0px 12px #387bbe;
        box-shadow: 0px 0px 12px #387bbe;
    }
}

/* For large desktops, go to large layout with three columns. */
@media all and (min-width: 1320px){
    
    /* Styles from tutorial code*/
    #index .ui-content {
        padding: 10px;
    }
    
    /* Set a max-width for the last breakpoint to prevent too much stretching on large screens.
    By setting the max-width equal to the breakpoint width minus padding we keep square tiles. */
    
    #index .ui-listview {
        max-width: 1300px;
        margin: 0 auto;
    }
    
    /* Because of the 1000px max-width the width will always be 230px (and margin left/right 10px),
    but we stick to percentage values for demo purposes. */
    
    #index .ui-listview .ui-li.ui-btn {
        width: 30%;
        height: 115px;
        margin: 5px 5px;
    }
}
