/* I got rid of the prof's sample resizing CSS that should go here. We
 * should look at this code and actually learn how it works, and add it
 * back in again later*/

/* Basic styles */
.rwd-example div {
	text-align:left;
	border-color:#ddd;
	margin-bottom:1em;
}
  .rwd-example p {
	color:#777;
	line-height:140%
}

/* Stack all blocks to start */
.rwd-example .ui-block-a, 
.rwd-example .ui-block-b, 
.rwd-example .ui-block-c { 
	width: 100%; 
	float:none; 
}

/*Make all tags and links appear in small gray like Twitter does*/
.usertag {
	color:rgb(200,200,200);
	font-size:80%;
	text-decoration:none;
}

/*Make all tags and links appear in small gray like Twitter does*/
.mention, .hashtag, .tweetlink {
	color:rgb(200,200,200);
	text-decoration:none;
}

/* For formatting the date for each tweet*/
.date {
	color:rgb(200,200,200);
}

.li {
	padding-left: 60px;
}

/* 1st breakpoint - Float B and C, leave A full width on top */ 
@media all and (max-width: 34em){
	/*Make the borders smaller than the default when on smaller screens*/
	.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
		display: block;
		padding: 0.1em 10px;
	}
}

/* 2nd breakpoint - Float all, 50/25/25 */ 
@media all and (min-width: 46em){

}
